// Components
@import './components/navbar';
@import './components/home';
@import './components/portfolioCard';
@import './components/spinner';
@import './components/replier';
@import './components/portfolioDetail';

// Pages
@import './index.scss';


.main-section {
  top: 150px;
  width: 100%;
  padding: 130px 0 0;
}

.wrapper {
  min-height: 100vh;
  min-width: 100vw;
  margin-top: 0;
  position: relative;
}


.absolute {
  position: absolute;
}
