// Components
@import './components/navbar';
@import './components/home';
@import './components/portfolioCard';

// Pages
@import './index.scss';


.main-section {
  top: 150px;
  width: 100%;
  padding: 150px 0 0;
}

.absolute {
  position: absolute;
}
